.container {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.averages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid gray;
  height: 65px;
}

button {
  height: 40px;
  width: 180px;
}

.quickSummary {
  padding-bottom: 10px;
  text-align: center;

  div {
    position: relative;
    animation: slideUp 500ms linear 1;
    // transition: all 500ms ease-in-out;
  }
}

.teamLogo {
  img {
    height: 200px;
  }
}

@keyframes slideUp {
  0% {
    top: 150px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 350px;
  }
  100% {
    top: 0;
  }
}
